#listings {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  width: 45%;
  text-align: left;
}

.listing {
  display: flex;
  flex-direction: column;
}

.listing-title-section{
  display: flex;
  flex-direction: row;
  /* height: 300px; */
  align-content: flex-start;
  justify-content: space-between;
}

.listing-title{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.listing-title h1 {
  display: flex;
  margin-bottom: 0px;
}

.listing-title h3 {
  display: flex;
  margin-top: 10px;
}

.listing-title-bold{
  display: flex;
}

.host-image-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.host-image-box img {
  height: 70px;
  border-radius: 50%;
  image-orientation: from-image;
}

.listing-highlights-section {
  display: flex;
  flex-direction: column;
}

.listing-highlight{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.listing-highlight_title{
  display: flex;
  flex-direction: row;
}

.listing-highlight_title_name{
  padding-left: 10px;
}

.listing-highlight_details{
  display: flex;
  flex-direction: row;
}

.listing-highlight_text{
  padding-left: 23px;
}

img {
  min-height: 1px;
  position: relative;
  width: 70px;
  margin: 0 auto;
}