* {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.line-break {
  content: " ";
  background-color: rgb(236, 234, 234);
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

body {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: rgb(72, 72, 72);
  background-color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
}

div {
  display: block;
}

img {
  border: 0;
  vertical-align: middle;
  height: 64px;
  width: 64px;
}

/* App */

#main {
  margin-top: 65px;
  margin-left: -8px;
  margin-right: -8px;
}

#main:before{
  content: " ";
  display: table;
}

#main:after{
  content: " ";
  display: table;
  clear: both;
}

.main-container{
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
  position: relative;
}

/* Title */
.header-container{
  display: flex;
  flex-direction: row;
}
.title-container{
  /* text-transform: uppercase; */
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
  position: relative;
  width: 80%;
  float: left;
}

.main-title {
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 8px ;
  padding-right: 8px ;
  min-height: 1px ;
  position: relative ;
  width: 84%;
  float: left ;
}

.main-title:before{
  content: " ";
  display: table;
 }

 .main-title:after{
  content: " ";
  display: table;
  clear: both;
 }

.listing-detail {
  display: flex;
  flex-direction: column;
}

.listing-title-text {
  font-weight: 800;
  margin: 0px;
  word-wrap: break-word;
  font-size: 32px;
  line-height: 1em;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #484848;
  padding-top: 6px;
  padding-bottom: 6px;
  display: inline-block;
}

.title-bold{
  color: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  margin: 0px;
  padding: 0px;
  display: inline;
}

.container1{
  display: table;
  width: 100%;
  border-spacing: 0px;
}

.text {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  text-transform: undefined;
  color :#484848;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: normal;
}

.host-container{
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
  position: relative;
  width: 17%;
  float: left;
}

.host-box{
  color: #767676;
  text-align: center;
}

.host-image-box{
  height: 64px;
  width: 64px;
  display: block;
  position:relative;
  margin:0 auto;
}

.host-picture{
  background: transparent;
  border: 0px;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

.host-image{
  background-color: #D8D8D8;
  border-radius: 50%;
  border-width:  2px;
  border-color: #ffffff;
  background-color: #D8D8D8;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff ;
  /* vertical-align: middle ; */
  overflow: hidden;
  display: block;
}

.host-name{
  margin: 0px;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4em;
  color: #767676;
  padding-top:6px;
  padding-bottom: 6px;
}

/* Highlights */
.type-container {
  display: table;
  width: 100%;
  border-spacing: 0px;
}

.icon-container {
  display: table-cell;
  vertical-align: top;
}

.icons {
  width: 16px;
  margin-top: 7px;
  margin-left: 7px;
}

.info-container {
  display: table-cell;
  width: 100%;
  vertical-align: top;
}

.info-header{
  margin: 5px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 600 ;
  line-height: 1.4em;
  color: #484848;
}

.info {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  color: #484848;
}

/* Description */
.details {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 0px;
  margin: -1px;
  padding: 0px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.details-text{
  overflow-wrap: break-word;
  justify-content: center;
}

.dropdown {
  display: inherit;
  overflow: hidden;
}

.button {
  color: #008489;
  font: inherit;
  -webkit-text-decoration-line: none;
  -moz-text-decoration-line: none;
  text-decoration-line: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0px;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  text-align: left;
  height: 25px;
}

.read-more{
  display: table-cell;
  vertical-align: middle;
}

.dropdown-icon{
  display: table-cell;
  vertical-align: middle;
  -webkit-transition-property: -webkit-transform,transform;
  -moz-transition-property: transform;
  transition-property: -ms-transform,-webkit-transform,transform;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* Amenities */
.listing-amenities{
  height: 200px;
}

.sub-header {
  margin: 5px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.375em;
  color: #484848;
}

.listing-amenities-container{
  height: 100px;
  margin-left: 5px;
}

.listing-amenities_wrapper{
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 40px 40px;
}

.amenities-container {
  min-height: 1px;
  position: relative;
  width: 50%;
  float: left;
  height: 100px;
}

.amenity-container{
  width: 100%;
  border: 0px;
}

.amenity-icon{
  width: 1.8em;
}

.amenity{
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.375em;
  color: #484848;
}

/* Modal */
.show-all{
  color: #008489;
  background: transparent;
  border: 0px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  font-weight: 600;
  text-align: left;
  user-select: auto;
  font-weight: 400'
}

.modal-section {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 32px;
}

.close-container {
  margin-bottom: 24px;
}

.close-btn{
  color: #767676;
  font-size: 20px;
  font-weight: 200;
  background-color: transparent;
  border-width: 0px;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  fill: rgb(118, 118, 118);
  border-radius: 80%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 1px 1px #DBDBDB;
  cursor: pointer;
}

.amenities-header{
  margin: 0px;
  word-wrap: break-word;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25em;
  color: #484848;
  padding-top: 2px;
  padding-bottom: 2px;
}

.listing-amenities-detail{
  font-size: 20px;
  font-weight: 200;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: thin solid #DBDBDB;
}

/* Sleeping Arrangement */
.listing-sa-container{
  display: grid;
  grid-template-columns: 200px 200px 200px 50px;
  grid-column-gap: 18px;
}

.box{
  border-width: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(235, 235, 235);
  border-image: initial;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
}

.bed {
  font-size: 16px;
  font-weight: 200;
}

.sa-arrow-btn{
  top: 50%;
}
.arrow-btn{
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  position: relative;
  touch-action: manipulation;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background: rgb(255, 255, 255);
}